
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

#main_table {
    animation: transitionIn 1s;
}

#main_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 500px;
    background-color: #B1B6A6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    padding: 500px;
    font-family: Helvetica;
    margin-top: 2rem;

    display: none;
}

#main_table thead tr {
    background-color: #696773;
    color: #eeeeee;
    text-align: left;
    font-weight: bold;
}


#main_table th,
#main_table td {
    padding: 15px 15px;
}

#main_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#main_table tbody tr:nth-last-of-type(even) {
    background-color: #819595;
    color: #eeeeee;
}

#main_table tbody tr:last-of-type {
    border-bottom: 2px solid #363946;
}
