
#body_page {
    background-color: #363946;
}

.div_title {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #819595;
    border-radius: 5px;
    display: block;
    background-color: #696773;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.title {
    font-family: Helvetica;
    font-size: 3rem;
    color: #eeeeee;
    text-align: center;
}
